.course-price {
    h2 {
        @extend %h2;
    }

    p {
        margin-bottom: 3rem;

        font-family: $ff2;
        font-size: 24px;

        text-align: center;
    }

    &__border {
        margin: 0 auto;

        max-width: 690px;
        // max-height: 335px;

        border: 2px solid $cgray;
        border-radius: 10px;

        &-first {
            margin-top: 2rem;

            text-align: center;
            font-family: $ff2;
            font-size: 24px;
            font-weight: 300;

            opacity: 0.8;
        }
        &-second {
            margin-bottom: 2rem;
            text-align: center;
            font-family: $ff2;
            font-size: 24px;
            font-weight: 300;
            text-decoration: line-through;

            opacity: 0.8;
        }

        &-third {
            text-align: center;
            font-family: $ff2;
            font-size: $fsh3;
            font-weight: 600;
        }

        a {
            transition: 0.3s;

            display: block;
            margin: 2rem auto;
            padding: 1rem 2rem;

            background-color: $cgray;
            font-family: $ff2;
            font-size: $fsh3;
            font-weight: 500;
            color: #fff;

            max-width: 400px;

            text-align: center;
            border: 0;
            border-radius: 30px;

            &:hover {
                transition: 0.3s;
                color: $cgray;
                background-color: #deddcd;
            }
        }
    }
}
