.advantage {
    h2 {
        @extend %h2;
    }

    &__flex-section {
        margin-bottom: 40px;

        display: flex;
        justify-content: center;

        &_right-side {
            margin-left: 2rem;
            max-width: 750px;

            h3 {
                margin-bottom: 2rem;

                font-family: $ff1;
                font-size: $fsh3;
                color: $cgray;
            }

            p {
                font-family: $ff2;
                font-size: $fsp;
            }
        }
    }
}

@media (max-width: 768px) {
    .advantage {
        h3 {
            font-size: $mfsh3;
        }

        p {
            font-size: $mfsp;
        }

        img {
            width: 40px;
        }
    }
}
