.advantage {
    margin: 0 10rem;

    h2 {
        @extend %h2;
    }

    &__flex-section {
        margin-bottom: 40px;

        display: flex;
        justify-content: center;

        &_right-side {
            margin-left: 2rem;
            max-width: 750px;

            h3 {
                margin-bottom: 2rem;

                font-size: $fsh3;
                color: $cgray;
            }

            p {
                font-size: $fsp;
            }
        }
    }
}
