/*Reset CSS*/
* {
    padding: 0;
    margin: 0;

    line-height: 1.55;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 14px;
    font-weight: 500;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

h2 {
    line-height: 1;
}
/*--------------------*/

$ff1: Bitter;
$ff2: Raleway;

$cgray: #856d47;
$cwhite: #fff7ea;

$fsh2: 55px;
$fsh3: 31px;
$fsp: 18px;

// variables for media queries:
$mfsh2: 26px;
$mfsh3: 20px;
$mfsp: 14px;

%h2 {
    margin: 10rem 0 3rem;

    font-size: $fsh2;
    text-align: center;
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth;
}

.page {
    width: 100%;
    background-color: $cwhite;
}

main {
    margin: 0 5rem;
}

@import '1.start-block';
@import '2.result-block';
@import '3.advantage-block';
@import '4.whyCourse-block';
@import '5.knowBetter-block';
@import '6.video-block';
@import '7.howCourseWorks-block';
@import '8.courseStructure-block';
@import '9.courseProgram-block';
@import '10.freeModule-block';
@import '11.coursePrice-block';
@import '12.bonus-block';
@import '13.questions-block';
@import '14.footer-block';

@media (max-width: 1150px) {
    main {
        margin: 0 2.5rem;
    }
}

@media (max-width: 768px) {
    %h2 {
        margin: 5rem 0 3rem;

        font-size: $mfsh2;
        text-align: center;
        text-transform: uppercase;
    }

    main {
        margin: 0 1rem;
    }
}
