/*Reset CSS*/
* {
  padding: 0;
  margin: 0;
  line-height: 1.55;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.course-price h2, .free-module h2, .course-program h2, .course-structure h2, .how-course-works h2, .video h2, .know-better h2, .why-course h2, .advantage h2, .result-block h2 {
  margin: 5rem 0;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
}

.page {
  width: 100%;
  background-color: #fff7ea;
}

main {
  margin: 0 10rem;
}

.start-block {
  padding: 14rem 0 0 10rem;
  margin-bottom: 10rem;
  background-image: linear-gradient(90deg, rgba(255, 247, 234, 0.996031689) 0%, rgba(255, 247, 234, 0.55) 100%), linear-gradient(180deg, rgba(255, 247, 234, 0.05) 0%, rgba(255, 247, 234, 0.99) 100%), url(/images/bg.webp?12264728a6fc719fbf9e09f2ba43705d);
  background-size: cover;
}
.start-block h1 {
  margin-bottom: 2rem;
  font-family: Bitter;
  font-size: 3.5rem;
  font-weight: 400;
  max-width: 676px;
}
.start-block__p {
  margin-bottom: 5rem;
  font-family: Raleway;
  font-size: 2rem;
  max-width: 539px;
  color: #856d47;
}
.start-block button {
  transition: 0.3s;
  margin-right: 2rem;
  margin-bottom: 5rem;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #856d47;
  width: 250px;
  height: 55px;
  border-radius: 25px;
  border: 0;
}
.start-block button:hover {
  transition: 0.3s;
  color: #856d47;
  background-color: #deddcd;
}
.start-block__info {
  display: flex;
  justify-content: space-between;
  max-width: 525px;
  height: 174px;
  background-color: #856d47;
  border-radius: 25px;
}
.start-block__info-left {
  font-family: Raleway;
  font-size: 18px;
  text-align: center;
  padding: 40px 60px;
  color: #fff;
}
.start-block__info-left1 {
  position: relative;
  margin-bottom: 3rem;
}
.start-block__info-left1::before {
  position: absolute;
  top: 40px;
  right: -25px;
  content: "";
  width: 156px;
  height: 1px;
  background-color: #fff;
}
.start-block__info-left2 {
  font-weight: 700;
}
.start-block__info-right {
  font-family: Raleway;
  font-size: 18px;
  text-align: center;
  padding: 40px 60px;
  color: #fff;
}
.start-block__info-right1 {
  position: relative;
  margin-bottom: 3rem;
}
.start-block__info-right1::before {
  position: absolute;
  top: 40px;
  right: -20px;
  content: "";
  width: 156px;
  height: 1px;
  background-color: #fff;
}
.start-block__info-right2 {
  font-weight: 700;
}

.result-block .section {
  display: flex;
  justify-content: space-between;
}
.result-block .section__left-side {
  max-width: 458px;
}
.result-block .section__left-side h3 {
  margin-bottom: 2rem;
  font-family: Bitter;
  font-size: 31px;
  color: #856d47;
}
.result-block .section__left-side p {
  font-family: Raleway;
  font-size: 18px;
}

.advantage__flex-section {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.advantage__flex-section_right-side {
  margin-left: 2rem;
  max-width: 750px;
}
.advantage__flex-section_right-side h3 {
  margin-bottom: 2rem;
  font-family: Bitter;
  font-size: 31px;
  color: #856d47;
}
.advantage__flex-section_right-side p {
  font-family: Raleway;
  font-size: 18px;
}

.why-course__flex {
  display: flex;
  justify-content: space-between;
}
.why-course__flex-item {
  width: 33.33%;
  margin: 0 30px;
}
.why-course__flex-item h3 {
  margin-bottom: 2rem;
  font-family: Bitter;
  font-size: 31px;
  text-align: center;
  color: #856d47;
}
.why-course__flex-item p {
  font-family: Raleway;
  font-size: 18px;
}
.why-course__flex-line {
  border-left: 2px solid #856d47;
  height: 250px;
}

.know-better__flex {
  display: flex;
}
.know-better__flex-right {
  margin-left: 4rem;
}
.know-better__flex-right h3 {
  margin-bottom: 2rem;
  font-size: 55px;
  text-align: center;
}
.know-better__flex-right p {
  margin-bottom: 2rem;
  font-family: Raleway;
  font-size: 18px;
  text-align: center;
  color: #856d47;
}
.know-better__flex-right ul {
  max-width: 615px;
  font-family: Raleway;
  font-size: 18px;
}
.know-better__flex-right li {
  list-style: inside;
  margin-bottom: 2rem;
}

.video iframe {
  display: block;
  margin: 0 auto;
}

.how-course-works__flex {
  position: relative;
  display: flex;
  margin: 0 0 3rem 10rem;
}
.how-course-works__flex-number {
  margin-right: 2rem;
  min-width: 44px;
  max-height: 44px;
  text-align: center;
  font-family: Bitter;
  font-size: 31px;
  color: #fff;
  background-color: #856d47;
  border-radius: 50%;
}
.how-course-works__flex h3 {
  margin-bottom: 1rem;
  font-family: Bitter;
  font-size: 31px;
  color: #856d47;
}
.how-course-works__flex p {
  max-width: 800px;
  font-family: Raleway;
  font-size: 18px;
}
.how-course-works .warning {
  padding-top: 30px;
}
.how-course-works .warning-number {
  margin-right: 2rem;
  min-width: 50px;
  max-height: 50px;
  text-align: center;
  font-family: Bitter;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  background-color: #856d47;
  border-radius: 50%;
}

.course-structure__flex {
  display: flex;
  margin-bottom: 5rem;
}
.course-structure__flex-left {
  margin-right: 60px;
  width: 100px;
  font-family: Bitter;
  font-size: 31px;
  color: #856d47;
  flex-grow: 1;
}
.course-structure__flex-center {
  margin-right: 30px;
  width: 100px;
  font-family: Raleway;
  font-size: 18px;
  flex-grow: 6;
}
.course-structure__flex-right {
  width: 100px;
  font-family: Bitter;
  font-size: 31px;
  color: #856d47;
  flex-grow: 1;
}
.course-structure__flex p {
  margin-bottom: 1rem;
}
.course-structure__flex li {
  list-style: inside;
  margin-bottom: 1rem;
}

.course-program hr {
  display: block;
  margin-bottom: 2rem;
  margin-top: 2rem;
  height: 3px;
  background-color: #856d47;
}
.course-program__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-program__flex-left {
  font-family: Bitter;
  font-size: 31px;
  color: #856d47;
  width: 70%;
}
.course-program__flex-right {
  font-family: Raleway;
  font-size: 18px;
  width: 30%;
}
.course-program__flex li {
  list-style: inside;
  margin-bottom: 1rem;
}

.free-module p {
  margin-bottom: 70px;
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
}
.free-module__flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.free-module__flex ol {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
}
.free-module__flex button {
  padding: 1rem;
  background-color: #856d47;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  height: 70px;
  border: 0;
  border-radius: 30px;
}
.free-module__flex button:hover {
  transition: 0.3s;
  color: #856d47;
  background-color: #deddcd;
}

.course-price h2 {
  margin-bottom: 1rem;
}
.course-price p {
  margin-bottom: 3rem;
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
}
.course-price__border {
  margin: 0 auto;
  max-width: 690px;
  max-height: 335px;
  border: 2px solid #856d47;
  border-radius: 10px;
}
.course-price__border-first {
  margin-top: 30px;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 300;
  opacity: 0.8;
}
.course-price__border-second {
  margin-bottom: 30px;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 300;
  text-decoration: line-through;
  opacity: 0.8;
}
.course-price__border-third {
  text-align: center;
  font-family: Raleway;
  font-size: 31px;
  font-weight: 600;
}
.course-price__border button {
  transition: 0.3s;
  display: block;
  margin: 30px auto;
  padding: 1rem;
  background-color: #856d47;
  font-family: Raleway;
  font-size: 31px;
  font-weight: 500;
  color: #fff;
  height: 70px;
  border: 0;
  border-radius: 30px;
}
.course-price__border button:hover {
  transition: 0.3s;
  color: #856d47;
  background-color: #deddcd;
}
