/*Reset CSS*/
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.advantage h2, .result-block h2 {
  margin: 5rem 0;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
}

.page {
  width: 100%;
  background-color: #fff7ea;
}

main {
  padding: 14rem 0 0 10rem;
  margin-bottom: 10rem;
  background-image: linear-gradient(90deg, rgba(255, 247, 234, 0.996031689) 0%, rgba(255, 247, 234, 0.55) 100%), linear-gradient(180deg, rgba(255, 247, 234, 0.05) 0%, rgba(255, 247, 234, 0.99) 100%), url(/images/bg.webp?12264728a6fc719fbf9e09f2ba43705d);
  background-size: cover;
}
main h1 {
  margin-bottom: 2rem;
  font-family: Bitter;
  font-size: 3.5rem;
  font-weight: 400;
  max-width: 676px;
}
main .main-p {
  margin-bottom: 5rem;
  font-family: Raleway;
  font-size: 2rem;
  max-width: 539px;
  color: #856d47;
}
main button {
  transition: 0.3s;
  margin-right: 2rem;
  margin-bottom: 5rem;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #856d47;
  width: 250px;
  height: 55px;
  border-radius: 25px;
  border: 0;
}
main button:hover {
  transition: 0.3s;
  color: #856d47;
  background-color: #deddcd;
}
main .main-info {
  display: flex;
  justify-content: space-between;
  max-width: 525px;
  height: 174px;
  background-color: #856d47;
  border-radius: 25px;
}
main .main-info__left {
  font-family: Raleway;
  font-size: 18px;
  text-align: center;
  padding: 40px 60px;
  color: #fff;
}
main .main-info__left-1 {
  position: relative;
  margin-bottom: 3rem;
}
main .main-info__left-1::before {
  position: absolute;
  top: 40px;
  right: -25px;
  content: "";
  width: 156px;
  height: 1px;
  background-color: #fff;
}
main .main-info__left-2 {
  font-weight: 700;
}
main .main-info__right {
  font-family: Raleway;
  font-size: 18px;
  text-align: center;
  padding: 40px 60px;
  color: #fff;
}
main .main-info__right-1 {
  position: relative;
  margin-bottom: 3rem;
}
main .main-info__right-1::before {
  position: absolute;
  top: 40px;
  right: -20px;
  content: "";
  width: 156px;
  height: 1px;
  background-color: #fff;
}
main .main-info__right-2 {
  font-weight: 700;
}

.result-block {
  margin: 0 10rem;
}
.result-block .section {
  display: flex;
  justify-content: space-between;
}
.result-block .section__left-side {
  max-width: 458px;
}
.result-block .section__left-side h3 {
  margin-bottom: 2rem;
  font-family: Bitter;
  font-size: 31px;
  color: #856d47;
}
.result-block .section__left-side p {
  font-family: Raleway;
  font-size: 18px;
}

.advantage {
  margin: 0 10rem;
}
.advantage__flex-section {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.advantage__flex-section_right-side {
  margin-left: 2rem;
  max-width: 750px;
}
.advantage__flex-section_right-side h3 {
  margin-bottom: 2rem;
  font-size: 31px;
  color: #856d47;
}
.advantage__flex-section_right-side p {
  font-size: 18px;
}
